{% set repo = config.repo_url or ("https://github.com/" ~ env.GITHUB_REPO) %}

{% for release in tree %}
## {{ release.version }}
Released on {{ release.date }}

{% for change_type, changes in release.changes.items() %}
### {{ change_type }}

{% for change in changes %}
- {{ change.message }} ([`{{ change.sha1[:7] }}`]({{ repo }}/commit/{{ change.sha1 }}))
{% endfor %}

{% endfor %}

{% endfor %}
