{% set github_url = 'https://github.com' %}
{% for release in tree %}
## {{ release.version }}
Released on {{ release.date }}

{% for change_type, changes in release.changes.items() %}
### {{ change_type }}

{% for change in changes %}
- {{ change.message }} ([`{{ change.sha1[:7] }}`]({{ github_url }}/tmiklu/projectx/commit/{{ change.sha1 }})) {{ github_url }}/{{ change.author }}
{% endfor %}

{% endfor %}

{% endfor %}
