{% for release in tree %}
## {{ release.version }}
Released on {{ release.date }}

{% for change_type, changes in release.changes.items() %}
### {{ change_type }}

{% for change in changes %}
- {{ change.message }} ([`{{ change.sha1[:7] }}`](https://github.com/tmiklu/projectx/commit/{{ change.sha1 }})) {{ change.author }}
{% endfor %}

{% endfor %}

{% endfor %}
